<section class="details-hero">
    <!-- FW IMAGE -->
    <div data-scroll class='should-animate dl-1'>
    {% assign detailsImage = section.settings.image | img_url: '2000x' %}
    {% 
        render 'parallax-image' 
        src: detailsImage
        proportion: 2
        proportionMd: 0.93
        proportionLg: 0.61
        imgClass: 
        alt: 'Seneca'
    %}
    </div>
    <!-- END :: FW IMAGE -->

    <!-- CONTENT -->
    <div 
    data-scroll 
    class="headline-wrapper position-relative z-1 headline-font should-animate from-y dl-2">
        <!-- HEADLINE -->
        <div class="position-relative text-center">
            <h1 class="headline font-bold text-uppercase color-red from-y should-animate dl-1"
            data-scroll
            data-scroll-direction="vertical"
            data-scroll-repeat="false">{{section.settings.headline_1}}</h1>
            
            <div class="caption">
                <span 
                class="text-uppercase h6 p2-lg from-y should-animate dl-2"
                data-scroll
                data-scroll-direction="vertical"
                data-scroll-repeat="false">{{section.settings.headline_2}}</span>
            </div>
        </div>
        <!-- END :: HEADLINE -->

        <!-- TEXT -->
        <div class="ps-1 px-xl-2">
            <h2 
            class="d-flex flex-column h1-big h1-big-md h1-large-lg text-uppercase position-relative z-1 headline-font from-y should-animate dl-3"
            data-scroll
            data-scroll-direction="vertical"
            data-scroll-repeat="false">
                <span>{{section.settings.text_1}}</span>
                <span class="d-flex justify-content-center justify-content-xl-end">{{section.settings.text_2}}</span>
                <span>{{section.settings.text_3}}</span>
            </h2>

            <div class="mt-md-7">
                <h4 
                class="p2 text-uppercase from-y should-animate dl-3"
                data-scroll
                data-scroll-direction="vertical"
                data-scroll-repeat="false">{{section.settings.date}}</h4>
            </div>
        </div>
        <!-- END :: TEXT -->
    </div>
    <!-- END :: CONTENT -->

</section>
{% schema %}
{
  "name": "Details Hero",
  "tag": "section",
  "settings": [
    {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
    },
    {
      "id": "headline_1",
      "type": "text",
      "label": "Headline 1",
      "default":"Tim Joo"
    },
    {
      "id": "headline_2",
      "type": "text",
      "label": "Headline 2",
      "default":"Visionaries"
    },
    {
      "id": "text_1",
      "type": "text",
      "label": "Text 1st row",
      "default":"“I don't want"
    },
    {
      "id": "text_2",
      "type": "text",
      "label": "Text 2nd row",
      "default":"“to give advice,"
    },
    {
      "id": "text_3",
      "type": "text",
      "label": "Text 3rd row",
      "default":"I just want to speak from my own experiences."
    },
    {
      "id": "date",
      "type": "text",
      "label": "Date",
      "default":"Tim Joo, 2021 AD"
    }
  ]
}
{% endschema %}