<section class="details-headline-caption pt-4 pt-xl-6 pb-1 pb-md-2 bg-lightBaige px-1 px-xl-2">
    <!-- HEADLINE -->
   	<h2 
   	class="h1-1-big h1-big-md h1-large-lg text-uppercase d-flex flex-column should-animate from-y dl-1"
    data-scroll
    data-scroll-direction="vertical"
    data-scroll-repeat="false">
        <span>{{section.settings.text_1}}</span>
        <span class="d-flex justify-content-end justify-content-md-start justify-content-xl-end ps-md-4 ps-xl-0">{{section.settings.text_2}}</span>
        <span>{{section.settings.text_3}}</span>
        <span>{{section.settings.text_4}}</span>
        <span class="d-flex justify-content-end justify-content-md-start ps-md-4 ps-xl-0">{{section.settings.text_5}}</span>
    </h2>
    {% 
        render 'headline-caption' 
        title: section.settings.text_caption
        content: section.settings.text_caption_content
    %}
    <!-- END ::HEADLINE -->
</section>

{% schema %}
{
  "name": "Details Headline Caption",
  "tag": "section",
  "settings": [
    {
      "id": "text_1",
      "type": "text",
      "label": "Text 1st row",
      "default":"“When you start"
    },
    {
      "id": "text_2",
      "type": "text",
      "label": "Text 2nd row",
      "default":"a brand, it's like"
    },
    {
      "id": "text_3",
      "type": "text",
      "label": "Text 3rd row",
      "default":"“jumping off a cliff"
    },
    {
      "id": "text_4",
      "type": "text",
      "label": "Text 4th row",
      "default":"& assembling"
    },
    {
      "id": "text_5",
      "type": "text",
      "label": "Text 5th row",
      "default":"the plane on the"
    },
    {
      "id": "text_caption",
      "type": "text",
      "label": "Caption",
      "default":"way down."
    },
    {
      "id": "text_caption_content",
      "type": "text",
      "label": "Caption Content",
      "default":"You're figuring things out, hoping that you don't crash too hard."
    }
  ]
}
{% endschema %}