<div class='product-header row nav-offset'>
  <div class='col-md-6 col-xl-7'>
  	<div class="position-relative">
      <!-- NAVIGATION ARROWS AND PAGINATION -->
  		<div 
	  	class="navigation-block justify-content-between from-y dl-1 should-animate px-1 px-xl-0"
	  	data-scroll>
		  	<div class="arrow-btn d-flex flex-center swiper-prev">
		  		{{ 'swiper-arrow-right.svg' | asset_url | img_tag: 'icon' }}
		  	</div>

		  	<div class="swiper-pagination d-flex flex-center mx-1"></div>

		  	<div class="arrow-btn d-flex flex-center swiper-next">
		  		{{ 'swiper-arrow-right.svg' | asset_url | img_tag: 'icon' }}
		  	</div>
	  	</div>
      <!-- END :: NAVIGATION ARROWS AND PAGINATION -->

      <!-- IMAGE SWIPER -->
	    <div 
	    class='proportion position-relative bg-lightGrey'
	    style='
	    --proportion: 90%;
	    --proportion-md: 130%;
	    --proportion-lg: 90%;'>
	      {% 
	        render 'image-swiper' 
	        slides: product.images
	        fill: true
	      %}
	    </div>
      <!-- END :: IMAGE SWIEPR -->

      <!-- CAPTION -->
      <div class="icon-and-text">
        <div class="d-flex align-items-center mb-7 mb-lg-1">
          {{ 'wawe.svg' | asset_url | img_tag: 'icon', 'icon me-7 me-lg-1' }}

          <p class="text-uppercase small">4 way stretch</p>
        </div>

        <div class="d-flex align-items-center">
          {{ 'wash.svg' | asset_url | img_tag: 'icon', 'icon me-7 me-lg-1' }}

          <p class="text-uppercase small">machene washable</p>
        </div>
      </div>
      <!-- END :: CAPTION -->
  	</div>
  </div>

  <div 
  data-scroll 
  data-scroll-sticky 
  data-scroll-target=".top-section" 
  class='col-md-6 col-xl-5 px-1 px-xl-3 pt-1 pt-md-0'>

    <!-- CONTENT -->
  	<small 
  	class="mb-2 d-block from-y dl-2 d-none d-md-block should-animate"
  	data-scroll>HOME < VANTA PANT</small>

  	<h1 
  	class="product-headline-text text-uppercase mb-1 mb-lg-3 from-y dl-3 should-animate"
  	data-scroll>{{ product.title }}</h1>

  	<h3 
  	class="d-lg-none mb-1 from-y dl-3 should-animate"
  	data-scrol>{{ product.price | money }}</h3>

  	<div class="d-flex justify-content-between">
	  	<small 
	  	class="text-uppercase d-block mb-025 from-y dl-4 should-animate"
	  	data-scroll>select size</small>

	  	<small 
	  	class="text-uppercase cursor-pointer d-block mb-025 from-y dl-4 should-animate link reversed"
	  	data-scroll>fit guide</small>
  	</div>
    <!-- END :: CONTENT -->

    <!-- VARIANTS -->
    <div 
    class="variants row mb-025 from-y dl-4 should-animate"
    data-scroll>
        {% for variant in product.variants %}
        	<div class="item col">
	            <button class="variant-box" 
	            data-available="{{variant.available}}" 
	            data-id="{{variant.id}}" 
	            {%unless variant.available %} disabled {% endunless %}
	            data-price="{{variant.price}}">{{variant.title}}</button>
        	</div>
        {% endfor %}
    </div>
    <!-- END :: VARIANTS -->

    <button 
    data-id=''
    data-quantity=''
    disabled
    class='add-to-cart mb-1 mb-lg-2 from-y dl-4 should-animate'
    data-scroll>Add to cart</button>

    <!-- DESCRIPTION -->
    <p 
    class="text-uppercase mb-2 from-y dl-5 should-animate small"
    data-scroll>{{ product.description }}</p>
    <!-- END :: DESCRIPTION -->

    <!-- ACCORDIONS -->
    {% render 'accordion-items' items: section.blocks %}
    <!-- END :: ACCORDIONS -->
  </div>
</div>

{% schema %}
{
  "name": "Product Header",
  "class": "product-header",
  "tag": "section",
  "settings": [
  ],
  "blocks": [
    {
      "name": "Accordion",
      "type": "accordion",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Acc title"
        },
        {
          "id": "content",
          "type": "textarea",
          "label": "Acc content"
        }
      ]
    }
  ]
}
{% endschema %}