<a href="#">
    <div class="collection-widget {{orientation}}">
        <div class="widget-text bg-{{color}} position-relative">
            <p class="color-black p2-widget text-uppercase">
            {{title}}
            </p>
            <h2 class="h2-widget text-uppercase position-absolute widget-collection-name">{{collectionName}}</h3>
        </div>
        <div class="widget-image">
            <img src="{{collectionImage | img_url: 'master' }}">
        </div>
    </div>
</a>